<h1>Eat Da Burger</h1>
    
<div class="container">
    <img src="/assets/img/Burger.jpg" alt="Burger">
    <div class="row">
      <div class="col-6">
        <ul>
        {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burgers-block devoured=true}}
        {{/unless}}
        {{/each}}
        </ul>
      </div>
      <div class="col-6">
        <ul>
        {{#each burgers}}
        {{#if devoured}}
          <li><h4>{{this.burger_name}}</h4></li>
        {{/if}}
        {{/each}}
        </ul>
      </div>
    </div>
</div>


<form>
    <div class="form-group">
        <textarea class="form-control-lg" id="newBurger"></textarea>
        
    </div>
    <button type="button" class="btn btn-secondary" id="submit-btn">Submit</button>
    </form>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
